= form_with(model: @competenceь, local: true) do |form|
  = form.label :title, "Заголовок"
  = form.text_field :title, class: 'form-control'
  %br
  = form.label :description
  = form.text_area :description
  %br
    = form.submit nil, class: 'btn btn-success'